<app-outrheader></app-outrheader>

<body>
    <section>
        <div class="xcontainer" style="align-content:center ; background-color: white;">
            <div class="title">Login Page</div>
            <form #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>
                <div class="input-box">
                    <input class="input-field" type="text" name="emailId" ngModel #emailId="ngModel"
                        placeholder="Enter Email-ID" required minlength="2" maxlength="30"
                        [ngClass]="{'is-invalid': emailId.invalid && emailId.touched}" />
                    <div *ngIf="emailId.invalid && emailId.touched" class="invalid-feedback">
                        <h2 *ngIf="emailId.errors?.['required'] && emailId.touched"></h2>
                        <h2 *ngIf="password.errors?.['required'] && password.touched"></h2>
                    </div>
                </div>
                

                <div class="input-box">
                    <input class="input-field" type="password" name="password" ngModel #password="ngModel"
                        placeholder="Enter Password" required minlength="2" maxlength="20"
                        [ngClass]="{'is-invalid': password.invalid && password.touched}" />
                    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"></div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched"></div>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Login" class="submit-button" />
                </div>&nbsp;
                <div style="text-align: center;">-- or --</div>
                &nbsp;
                <div class="submit-button"
                    style="text-align: center; border-style: outset; padding: 8px; border-color: blueviolet;"><a
                        routerLink="/register">Sign In</a></div>
            </form>
        </div>

    </section>
</body>
    <footer>
        <div class="container" id="contact" style="padding: 20px;">
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-one">
                        <h4>MAB CORP foundation</h4>
                        <p>Address : 3, Near IT Park, GT Road, Lahore 440000 </p>
                        <p>Contact No : <a href="tel: +92 30059****59">+92 30059****59</a></p>
                        <p>Email : <a href="mailto:foundation@mabcorp.com">foundation@mabcorp.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-two">
                        <h4>Important Links</h4>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#donation">Donations</a></li>
                            <li><a href="#mission-id">Missions</a></li>
                            <li><a href="#about">About us</a></li>
                            <li><a href="#contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-one">
                        <h4>Social Media</h4>
                        <div class="social">
                            <a href="#"><img src="assets/img/icons/facebook.png" alt="facebook"></a>
                            <a href="#"><img src="assets/img/icons/instagram.png" alt="instagram"></a>
                            <a href="#"><img src="assets/img/icons/youtube.png" alt="youtube"></a>
                            <a href="#"><img src="assets/img/icons/linkedin.png" alt="linkedin"></a>
                            <a href="#"><img src="assets/img/icons/gmail.png" alt="gnail"></a>
                        </div>
                        <p>Copyright &copy; 2023 | All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
