<app-adminheader></app-adminheader>
<body style="padding-top: 60px;">
    <h1 align="center" style="font-size: 24px; margin: 10px;">Customers Data</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr align="center">
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">CustId</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">First Name</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">Last Name</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">DOB</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">Gender</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">Country</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">Phone Number</th>
                        <th class="bg-info text-white col-1" style="padding: 4px; font-size: 16px;">Email ID</th>
                        <th class="bg-info text-white col-2" style="padding: 4px; font-size: 16px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cust of customers" align="center">
                        <td class="col-1">{{ cust.custId }}</td>
                        <td class="col-1">{{ cust.firstName | uppercase }}</td>
                        <td class="col-1">{{ cust.lastName | uppercase }}</td>
                        <td class="col-1">{{ cust.dob }}</td>
                        <td class="col-1">{{ cust.gender | lowercase }}</td>
                        <td class="col-1">{{ cust.country }}</td>
                        <td class="col-1">{{ cust.phone }}</td>
                        <td class="col-1">{{ cust.emailId }}</td>
                        <td class="col-2">
                            <button (click)="editCustomer(cust)" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </button>
                            <button (click)="deleteCustomer(cust.custId)" class="btn btn-danger btn-lg">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="CustModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Customer</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table align="center">
                            <tbody>
                                <!-- Your form fields here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="updateCustomer()" class="btn btn-default"
                            data-dismiss="modal">Update Customer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
