<app-adminheader></app-adminheader>
    <div align='center' style="padding-top: 30;">
        Enter Customer ID: <input type="text" name="custId" [(ngModel)]="custId" /> <br />
        <button (click)="getCustomer()">Get Customer</button>
    </div>
    <br />
    <div *ngIf="customer">
        <div class="container">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr align="center">
                        <th class="bg-info text-white">EmpId</th>
                        <th class="bg-info text-white">First Name</th>
                        <th class="bg-info text-white">Last Name</th>
                        <th class="bg-info text-white">Gender</th>
                        <th class="bg-info text-white">Country</th>
                        <th class="bg-info text-white">DOB</th>
                        <th class="bg-info text-white">Phone</th>
                        <th class="bg-info text-white">EmailId</th>
                        <th class="bg-info text-white" colspan="2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr align="center">
                        <td>{{customer.custId}}</td>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.gender}}</td>
                        <td>{{customer.country}}</td>
                        <td>{{customer.dob}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.emailId}}</td>
                        <td><button  class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span> Edit 
                        </button></td>
                        <td><button  class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span> Delete 
                        </button></td>
                    </tr>
                </tbody>

            </table>
        </div>

