<app-adminheader></app-adminheader>
<div style="padding-top: 50px;">


</div>
    <h1>Welcome {{emailId}}!</h1>
    <br /><br />
    <div align='center'>
        Enter Customer ID: <input type="text" name="custId" [(ngModel)]="custId" /> <br />
        <button (click)="getCustomer()">Get Customer</button>
    </div>
    <br />
    <div *ngIf="customer">
        <div class="container">
            <table class="table table-hover table-striped table-bordered">

                <thead>
                    <tr align="center">
                        <th class="bg-info text-white">EmpId</th>
                        <th class="bg-info text-white">First Name</th>
                        <th class="bg-info text-white">Last Name</th>
                        <th class="bg-info text-white">Gender</th>
                        <th class="bg-info text-white">Country</th>
                        <th class="bg-info text-white">DOB</th>
                        <th class="bg-info text-white">Phone</th>
                        <th class="bg-info text-white">EmailId</th>
                    </tr>
                </thead>

                <tbody>
                    <tr align="center">
                        <td>{{customer.custId}}</td>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.gender}}</td>
                        <td>{{customer.country}}</td>
                        <td>{{customer.dob}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.emailId}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
